* {
  font-family: Helvetica;
}

body {
  margin: auto;
  padding: 0; 
  overflow: hidden;
}

#main {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  max-width: 1200px;
  height: 100%;
  float: center;
}

#users {
  width: 25%;
  height: 97%;
  background-color: #3E313C;
}

#curUsers {
  height: 5%;
  margin-top: 15px;
}

.userList {
  list-style: none; 
  margin-top: 0;
  padding-left: 0px;
}

#friendList {
  height: 43%; 
  background-color: #3E313C;
  color: white;
  font-weight: 200;
  display: relative;
  width: 100%;
  padding-top: 0;

}

#friendList h4 {
  margin-top: 30px;
  vertical-align: middle; 

}


#container:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}

ul {
  list-style-position: inside;
}

h4 {
  margin: 0px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #dbdbdb;
  z-index: 10;
  margin-bottom: 6px;
  vertical-align: middle; 
}

.selItem {
  margin: 3px;
}
.selItem:hover {
  letter-spacing: 0.08em;
  font-weight: 500;  
}


#user-profile {
  height: 45%;
  background-color: #3E313C;
  color: white; 
  font-weight: 200;
  margin-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}

#chat {
  width: 80%;
  height: 100%;
}

#chatbox {
  height: 85%;
  border: 1px solid black;
  overflow: scroll;
  margin: 0;
}

#topbar {
  display: flex;
  justify-content: flex-start;
  height: 5%;
  background-color: #3E313C;
}

.scrollList {
  overflow: auto;
  width: 100%; 
  height: 100%;
  background-color: #3E313C; 
}

#nineChat {
  text-align: center;
  margin-top: 15px;
  width: 100%;
  display: inline-block;
}

#logoimg {
  margin-left: 10px;
  width: 75px;
  height: 33px;
}

#bottombar {
  display: flex;
  width: 100%;
  height: 7%;
}

#sendButton {
  text-align: center;
  font-size: 28px;
  margin-left: 7px;
  margin-top: 8px;
  width: 50px;
}



#sendButton:hover {
  cursor: pointer;
}

#textbox {
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
}

.msgname {
  display: inline;
  font-size: 14px;
  color: grey;
  font-weight: 700;
  margin-right: 3px; 
}

p {
  margin: 5px 8px;
  word-wrap: break-word;
  font-size: 13px;
}

.user-pic {
  border: 1px solid red;
  border-radius: 10px;
  height: 30px;
}
