* {
  font-family: Helvetica;
}

body {
  margin: auto;
  padding: 0; 
  overflow: hidden;
}

#main {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  max-width: 1200px;
  height: 100%;
  float: center;
}

#users {
  width: 25%;
  background-color: #3E313C;
}

#curUsers {
  height: 5%;
  margin-top: 15px;
}

.userList {
  list-style: none; 
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0px;
}

#friendList {
  height: 50%; 
  overflow: scroll;
  background-color: #3E313C;
  color: white;
  font-weight: 200; 
}

h4 {
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: center; 
}

.selItem {
  margin: 3px;
}
.selItem:hover {
  background-color: green; 
}


#user-profile {
  height: 50%;
  border-bottom: 1px solid black;
  overflow: scroll; 
  background-color: #3E313C;
  color: white; 
  font-weight: 200;
  margin-bottom: 20px;
}

#chat {
  width: 80%;
}

#chatbox {
  height: 85%;
  border: 1px solid black;
  overflow: scroll;
  margin: 0;
}

#topbar {
  display: flex;
  justify-content: flex-start;
  height: 5%;
  background-color: #3E313C;
}

#nineChat {
  text-align: center;
  margin-top: 15px;
  width: 100%;
  display: inline-block;
}

#logoimg {
  margin-left: 10px;
  width: 75px;
  height: 33px;
}

#bottombar {
  display: flex;
  width: 100%;
  height: 7%;
}

#sendButton {
  text-align: center;
  font-size: 28px;
  margin-left: 7px;
  margin-top: 8px;
  width: 50px;
}



#sendButton:hover {
  cursor: pointer;
}

#textbox {
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
}

.msgname {
  display: inline;
  font-size: 14px;
  color: grey;
  font-weight: 700;
  margin-right: 3px; 
}

p {
  margin: 5px 8px;
  word-wrap: break-word;
  font-size: 13px;
}

.user-pic {
  border: 1px solid red;
  border-radius: 10px;
  height: 30px;
}
